.main {
  width: 100%;
  height: 70vh;
  display: flex;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding: 50px 134px 0px 0px;
  gap: 16px;
}
.textContainer > h1,
.textContainer > p {
  width: 100%;
  text-align: left;
  color: var(--primary-color);
}
.textContainer > h1 {
  font-weight: 700;
  line-height: 62.4px;
  letter-spacing: -1.44px;
  font-size: 48px;
}
.textContainer > p {
  font-weight: 300;
  line-height: 31.2px; /* 130% */
  letter-spacing: -0.72px;
  font-size: 24px;
}
.textContainer > button {
  background: var(--accent-color);
  border: none;
  border-radius: 8px;
  width: 302px;
  height: 64px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.48px;
  margin-top: 90px;
}
.figureContainer {
  display: flex;
  width: 50%;
}
