.main {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 100%;
  padding-top: 88px;
}

.textContainer > h2,
.textContainer > p {
  text-align: center;
  color: var(--primary-color);
}
.textContainer > h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 20.8px; /* 57.778% */
}

.textContainer > p {
  font-size: 16px;
  font-weight: 300;
  line-height: 31.2px; /* 195% */
  letter-spacing: -0.48px;
}

.productContainer {
  margin: 24px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 52px;
  row-gap: 52px;
}

@media (max-width: 700px) {
  .main {
    padding-top: 30px;
    gap: 0;
  }
  .textContainer > h2 {
    line-height: 110%;
    margin-bottom: 16px;
  }
  .textContainer > p {
    line-height: 110%;
  }
  .productContainer {
    overflow-x: scroll;
    padding: 50px 80px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 701px) and (max-width: 1120px) {
  .productContainer {
    grid-template-columns: 1fr 1fr;
  }
}
