.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 60px 0px 60px;
  min-height: 100vh;
}

.nav {
  margin-bottom: 20px;
}

.productsContainer {
  width: 100%;
}
.productsContainer h2 {
  font-size: 32px;
}
.productsContainer > div {
  margin: 24px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 52px;
  row-gap: 52px;
}
/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 8px 0px 0px 0px;
  }
  .productsContainer h2 {
    text-align: center;
    font-size: 28px;
  }
  .productsContainer > div {
    overflow-x: scroll;
    padding: 0px 80px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  @media (max-width: 700px) {
    .main {
      padding: 8px 0px 0px 0px;
    }
    .productsContainer h2 {
      text-align: center;
      font-size: 28px;
    }
  }
}
